//- inlookup.jade is a nested view for a ui-grid lookup table.
    It includes a grid, pagination controls, and a nested table for editing.
    This view only shows when the page is in the in.inlookup state.
    The in parent view with a search field is always showing with this
div(ng-show='vm.show')
  h3
    br
    | Inventory Lookup Table&nbsp
  p Select a row to edit
  .myGrid(ui-grid='vm.gridOptions', ui-grid-selection, ui-grid-pagination, ui-grid-resize-columns)
div(ui-view='', autoscroll='true')