//- The view that makes up the footer for each page
footer.footer
  .container
    .row
      .col-xs-12
        p
          | @ 2015 greenJAM
          = ' | '
          |Coralville, IA 52241
          = ' | '
          |tincat@tincat-group.com
          = ' | '
          |greenJAM v 0.0.1
