//- The view that makes up the footer for each page
footer.footer
  .container
    .row
      .col-xs-12
        p
          | @ 2015 World Info Systems, Inc.
          = ' | '
          |Greensboro, NC 27409
          = ' | '
          |support@worldinfo.com
          = ' | '
          |greenJAM v 0.0.1
