block nav
  div(ng-include='"components/navbar/navbar.html"')
block heading
  div(ng-include='"components/header/header.html"')
block container
block footing
  div(ng-include='"components/footer/footer.html"')
